.AboutUs_container .AboutUs-luna{
    height: 300px;
    top:200px;
    position: absolute;
    left:30%;
}
.AboutUs_container .AboutUs-marte{
    height: 300px;
    top:200px;
    left: 5%;
    position: absolute;
    transform: rotate(10deg);
}

h1{
    color: #BEC1C5;
}

.body_container .AboutUs-About{
    position: absolute;
    width: 318px;
    height: 43px;
    left: 845px;
    top: 244px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
}
.body_container .AboutUs-Iktan{
    position: absolute;
    width: 318px;
    height: 43px;
    left: 846px;
    top: 290px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: right;
}

.body_container p{
    position: absolute;
    width: 517px;
    height: 350px;
    left: 814px;
    top: 413px;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    color: #BEC1C5;
}

.body_container .AboutUs-logo{
    position: absolute;
    width: 223px;
    left: 1152px;
    top: 230px;
}

.AboutUs-galleryBotton{
    position: absolute;
    width: 318px;
    left: 200px;
    top: 650px;
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 15px;
    line-height: 36px;
    text-align: center;
    color: #BEC1C5;
    box-sizing: border-box;
    padding: 20px;
    height: 80px;
    background: #0C0C0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
}

.AboutUs-galleryBotton:hover{
    background-color: #141416;
}